name: Autoupdate PRs
on:
  push:
    branches:
      - main
jobs:
  autoupdate:
    name: autoupdate
    runs-on: ubuntu-22.04
    permissions:
      pull-requests: write
    steps:
      # Auto-update PRs which are set to auto-merge if main changes while CI is still running.
      - uses: docker://chinthakagodawita/autoupdate-action@sha256:53d7013ad4689b703d2715d4b17d4901bb0a385e495e0b481f37adbe9b3cc3fc
        env:
          GITHUB_TOKEN:  '${{ secrets.USER_TOKEN }}'
          PR_FILTER: 'auto_merge'