name: autoupdate
on:
   push:
     branches:
       - main
jobs:
  autoupdate:
    name: autoupdate
    runs-on: ubuntu-22.04
    permissions:
      pull-requests: write
    steps:
      - uses: docker://chinthakagodawita/autoupdate-action:v1
        env:
          GITHUB_TOKEN:  '${{ secrets.USER_TOKEN }}'
          PR_FILTER: 'auto_merge'